
@{
  ViewBag.Title = "Motion | Add";
}

@model List<Fit.DTO.MuscleGroupDTO>
<link href="~/Content/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">动作类型</label>
          <div class="col-sm-6">
            <div class="i-checks"><label> <input type="radio" id="radioPartial" value="partial" name="motionType">&nbsp;&nbsp;局部训练</label></div>
            <div class="i-checks"><label> <input type="radio" id="radioCombine" value="combine" name="motionType">&nbsp;&nbsp;综合训练</label></div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <form class="m-t" role="form" id="formPartial" method="post" action="/MotionsInPlan/AddPartial">
          <input type="hidden" name="planId" value="@ViewBag.PlanId" />
          <input type="hidden" name="index" value="@ViewBag.Index" />
          <input type="hidden" name="planCount" value="@ViewBag.PlanCount" />
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control m-b" name="muscleGroup" onchange="muscleGroupChanged()" required>
                @{
                  <option value="">@Model[0].Name</option>
                  for (int i = 1; i < Model.Count; i++)
                  {
                    <option value="@Model[i].Id">@Model[i].Name</option>
                  }
                }
              </select>
            </div>
            <div class="col-sm-3">
              <select class="form-control m-b" name="muscle" onchange="muscleChanged()" required="">
                <option value="">请选择肌肉...</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control m-b" name="motionPartial" onchange="motionChanged('Partial')" required="">
                <option value="">请选择锻炼项目...</option>
              </select>
            </div>
            <div class="col-sm-2">
              <select class="form-control m-b" name="groups" required=""></select>
            </div>
            <div class="col-sm-2">
              <select class="form-control m-b" name="times" required=""></select>
            </div>
            <div class="col-sm-2 form-group">
              <div class="input-group m-b">
                <input type="text" class="form-control" name="number" placeholder="运动负荷" pattern='^[0-9]+([.]{1}[0-9])?$' title="只能是整数或一位小数">
                <span class="input-group-addon" id="partialMeasurement">kg</span>
              </div>
            </div>
            <div class="col-sm-2">
              <input id="btnSave" type="submit" class="btn btn-primary block full-width m-b" value="保存">
            </div>
          </div>
        </form>

        <form class="m-t" role="form" id="formCombine" method="post" action="/MotionsInPlan/AddCombine">
          <input type="hidden" name="planId" value="@ViewBag.PlanId" />
          <input type="hidden" name="index" value="@ViewBag.Index" />
          <input type="hidden" name="planCount" value="@ViewBag.PlanCount" />
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control m-b" name="motionCombine" onchange="motionChanged('Combine')" required>
                <option value="">请选择锻炼项目...</option>
              </select>
            </div>
            <div class="col-sm-2 form-group">
              <div class="input-group m-b">
                <input type="text" class="form-control" name="number" required="" placeholder="运动量"  pattern='^[0-9]+([.]{1}[0-9])?$' title="只能是整数或一位小数">
                <span class="input-group-addon" id="combineMeasurement"></span>
              </div>
            </div>
            <div class="col-sm-2">
              <input id="btnSave1" type="submit" class="btn btn-primary block full-width m-b" value="保存">
            </div>
          </div>
        </form>
        <div id="motionDetail">
          <div class="form-group" id="motionName">
            <div class="hr-line-dashed"></div>
            <label>名称</label>
            <div id="name"></div>
          </div>
          <div class="form-group" id="motionDescription">
            <label>描述</label>
            <div id="description"></div>
          </div>

          <div class="form-group" id="motionDetail">
            <div class="hr-line-dashed"></div>
            <label>动作介绍</label>
            <div id="detail"></div>
            <br />
            <div id="imgDiv1">
            </div>
          </div>
          <div class="form-group" id="motionMainPoint">
            <div class="hr-line-dashed"></div>
            <label>动作要点</label>
            <div id="mainpoint"></div>
            <br />
            <div id="imgDiv2">
            </div>
          </div>
          <div class="form-group" id="motionAttention">
            <div class="hr-line-dashed"></div>
            <label>注意事项</label>
            <div id="attention"></div>
            <br />
            <div id="imgDiv3">
            </div>
          </div>
          <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
          <div id="blueimp-gallery" class="blueimp-gallery">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <!-- blueimp gallery -->
  <script src="~/Scripts/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>

  <script type="text/javascript" src="~/Scripts/template.js"></script>
  <script>
    $(document).ready(function () {
      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
      });
      $("[name='motionType']").on("ifChecked", function (e) {
        var motionType = $(e.target).val();
        onMotionTypeChanged(motionType);
      });
      $("#radioCombine").iCheck("check");
      $("#radioPartial").iCheck("check");
      loadGroupsAndTimes();
      $("#motionDetail").hide();
    });

    function onMotionTypeChanged(motionType) {
      $('#motionDetail').hide();
      clearMotionDetail();
      if (motionType == 'partial') {
        $("#formPartial").show();
        $("#formCombine").hide();
      } else if (motionType == 'combine') {
        $("#formPartial").hide();
        $("#formCombine").show();
        loadMotionByMuscle(0);
      }
    };

    function muscleGroupChanged() {
      var muscleGroupId = $("[name='muscleGroup']").val();
      if (muscleGroupId == null || muscleGroupId <= 0 || muscleGroupId == "") {
        return;
      }
      $.ajax({
        url: "/MotionsInPlan/LoadMuscle",
        type: "post", dataType: "json",
        data: { id: muscleGroupId },
        success: loadMuscles,
        error: function () {
          alert('加载肌肉列表时出错');
        }
      });
    };

    function loadMuscles(res) {
      if (res.status == "ok") {
        $("[name='muscle']").empty();
        $(" <option value=''>" + res.data[0].name + "</option>")
          .appendTo("[name='muscle']");
        for (var i = 1; i < res.data.length; i++) {
          var item = res.data[i];
          $(" <option value='" + item.id + "'>" + item.name + "</option>")
            .appendTo("[name='muscle']");
        }
      }
    };

    function show() {
      $('#motionName').show();
    }
    function show() {
      $('#motionName').hide();
    }

    function muscleChanged() {
      var muscleId = $("[name='muscle']").val();

      if (muscleId == null || muscleId <= 0 || muscleId == "") {
        return;
      }
      loadMotionByMuscle(muscleId);
    };

    function loadMotionByMuscle(muscleId) {
      $.ajax({
        url: "/MotionsInPlan/LoadMotion",
        type: "post", dataType: "json",
        data: { id: muscleId },
        success: function (res) {
          if (muscleId <= 0) {
            loadMotionsCombine(res);
          } else {
            loadMotionsPartial(res);
          }
        },
        error: function () {
          alert('加载动作列表时出错');
        }
      });
    };

    function loadMotionsPartial(res) {
      if (res.status == "ok") {
        $("[name='motionPartial']").empty();

        $(" <option value=''>" + res.data[0].name + "</option>")
          .appendTo("[name='motionPartial']");
        for (var i = 1; i < res.data.length; i++) {
          var item = res.data[i];
          $(" <option value='" + item.id + "'>" + item.name + "</option>")
            .appendTo("[name='motionPartial']");
        }
      }
    };

    function loadMotionsCombine(res) {
      if (res.status == "ok") {
        $("[name='motionCombine']").empty();

        $(" <option value=''>" + res.data[0].name + "</option>")
          .appendTo("[name='motionCombine']");
        for (var i = 1; i < res.data.length; i++) {
          var item = res.data[i];
          $(" <option value='" + item.id + "'>" + item.name + "</option>")
            .appendTo("[name='motionCombine']");
        }
      }
    };

    var motionId = 0;
    function motionChanged(type) {
      var name = "[name='motion" + type + "']";
      motionId = $(name).val();
      if (motionId == null || motionId == '' || motionId <= 0) {
        return;
      }
      loadMotionDetails();
      loadMeasurement(type);
    };

    function loadMotionDetails() {
      $.ajax({
        url: "/MotionsInPlan/LoadMotionDetails",
        type: "post", dataType: "json",
        data: { id: motionId },
        success: showMotionDetails,
        error: function () {
          alert('加载动作详情时出错');
        }
      });
    }
    function showMotionDetails(res) {
      $('#motionDetail').show();
      clearMotionDetail();

      $("#name").text(res.data.name);
      $("#description").text(res.data.description);
      $("#detail").text(res.data.detail);
      $("#mainpoint").text(res.data.mainPoint);
      $("#attention").text(res.data.attention);
      loadImages(1);
      loadImages(2);
      loadImages(3);
    };
    function clearMotionDetail() {
      $("#name").text('');
      $("#description").text('');
      $("#detail").text('');
      $("#mainpoint").text('');
      $("#attention").text('');
      $("#imgDiv1").empty();
      $("#imgDiv2").empty();
      $("#imgDiv3").empty();
    };
    function hideMotionDetail() {
      $('#motionName').hide();
      $('#motionDescription').hide();
      $('#motionDetail').hide();
      $('#motionMainPoint').hide();
      $('#motionAttention').hide();
    }

    function loadImages(type) {
      $.ajax({
        url: "/MotionsInPlan/GetImgUrls",
        type: "post", dataType: "json",
        data: { type: type, motionID: motionId },
        success: function (res) {
          var html = template("motionImg", { imgs: res.data });
          var id = "#imgDiv" + type;
          $(id).empty();
          $(id).append($(html));
        },
        error: function () {
          alert("加载数据失败");
        }
      });
    };

    function loadGroupsAndTimes() {
      $.ajax({
        url: "/MotionsInPlan/LoadGroups",
        type: "post", dataType: "json",
        data: { id: motionId },
        success: function (res) {
          showGroups(res);
          loadTimes();
        },
        error: function () {
          alert('加载动作详情时出错');
        }
      });
    }
    function showGroups(res) {
      $(" <option value=''>" + res.data[0] + "</option>")
        .appendTo("[name='groups']");
      for (var i = 1; i < res.data.length; i++) {
        $(" <option value='" + i + "'>" + res.data[i] + "</option>")
          .appendTo("[name='groups']");
      }
    }

    function loadTimes() {
      $.ajax({
        url: "/MotionsInPlan/LoadTimes",
        type: "post", dataType: "json",
        data: { id: motionId },
        success: showTimes,
        error: function () {
          alert('加载动作详情时出错');
        }
      });
    }
    function showTimes(res) {
      $(" <option value=''>" + res.data[0] + "</option>")
        .appendTo("[name='times']");
      for (var i = 1; i < res.data.length; i++) {
        var item = res.data[i];
        $(" <option value='" + i + "'>" + res.data[i] + "</option>")
          .appendTo("[name='times']");
      }
    }

    function loadMeasurement(type) {
      $.ajax({
        url: "/MotionsInPlan/LoadMeasurement",
        type: "post", dataType: "json",
        data: { id: motionId },
        success: function (res) {
          if (type == 'Partial') {
            $("#partialMeasurement").text(res.data);
          } else if (type == 'Combine') {
            $("#combineMeasurement").text(res.data);
          } else {
            alert("加载单位时出错");
          }
        },
        error: function () {
          alert('加载单位时ajax错误');
        }
      });
    }
    function showMeasurement(res) {

    }

  </script>
  <script id="motionImg" type="text/html">
    {{each imgs as img}}
    <div class="file-box" style="width:160px;height:120px">
      <div class="file">
        <div class="image">
          <a href="{{img.url}}" data-gallery=""> <img alt="image" class="img-responsive" src="{{img.url}}"></a>
        </div>
      </div>
    </div>
    {{/each}}
  </script>
}
