
@{
  ViewBag.Title = "AdminUser | Edit";
}
@model Fit.AdminWeb.Models.AdminUserEditViewModel

<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content">
        <form class="m-t" role="form" id="formEdit">
          <input type="hidden" name="ID" value="@Model.ID" />
          <div class="form-group">
            <label>邮箱</label>
            <input type="email" class="form-control" name="Email" required="" value="@Model.Email">
          </div>
          <div class="form-group">
            <label>名称</label>
            <input type="text" class="form-control" name="Name" required="" value="@Model.Name">
          </div>
          <div class="form-group">
            <label>电话</label>
            <input type="text" class="form-control" name="PhoneNum" required="" value="@Model.PhoneNum">
          </div>
          <div class="form-group">
            <label>新密码</label>
            <input type="password" class="form-control" name="PassWord">
          </div>
          <div class="form-group">
            <label>再次输入新密码</label>
            <input type="password" class="form-control" name="PasswordComfirm">
          </div>
          <div class="hr-line-dashed"></div>
          <div class="form-group">
            <label>权限设置</label>
            <div class="row">
              @{
                if (Model.AllRoles.Length <= 0)
                {
                  return;
                }
                for (int i = 1; i <= Model.AllRoles.Length; i++)
                {
                  <div class="col-sm-4">
                    <label class="checkbox-inline i-checks">
                      <input type="checkbox" name="RoleIDs" value="@Model.AllRoles[i - 1].Id"
                             @{ if (Model.RoleIDs.Length > 0 && Model.RoleIDs.Contains(Model.AllRoles[i - 1].Id)) { @Html.Raw("checked='true'")  ; } }>
                      <span>&nbsp;</span><strong>@Model.AllRoles[i - 1].Name</strong>
                    </label>
                  </div>
                  if (i % 3 == 0)
                  {
                    @Html.Raw(@"</div><br /><div class='row'>");
                    }
                  }
              }
            </div>
          </div>

          <input id="btnSave" type="submit" class="btn btn-primary block full-width m-b" value="保存">
        </form>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
      });
    });

    var options = {
      success: function (response) {
        execResponse(response);
      },
      url: "/AdminUser/Edit",
      type: "post"
    };

    $("#formEdit").submit(function () {
      $(this).ajaxSubmit(options);
      return false;
    });

    function execResponse(res) {
      if (res.status == "ok") {
        location.href = "/AdminUser/List";
      } else {
        alert(res.msg);
      }
    }
  </script>
}


