
@{
  ViewBag.Title = "Motion | Edit";
}

@model Fit.AdminWeb.Models.MotionEditViewModel

<input type="hidden" name="id" value="@Model.Motion.Id" />
<input type="hidden" name="checkedMotionType" value="@Model.MotionType" />
<div class="row">
  <div class="col-sm-12">
    <div class="ibox float-e-margins">
      <div class="ibox-content form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">动作类型</label>
          <div class="col-sm-6">
            <div class="i-checks"><label> <input type="radio" id="radioPartial" value="partial" name="motionType">&nbsp;&nbsp;局部训练</label></div>
            <div class="i-checks"><label> <input type="radio" id="radioCombine" value="combine" name="motionType">&nbsp;&nbsp;综合训练</label></div>
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div id="partialDiv" class="form-group">
          <div class="col-sm-6">
            @Html.DropDownList("muscleGroup", new SelectList(Model.MuscleGroups, "ID", "Name", Model.Motion.MuscleGroupID), new { @class = "form-control m-b", onchange = "muscleGroupChanged()" })
          </div>
          <div class="col-sm-6">
            @Html.DropDownList("muscle", new SelectList(Model.Muscles, "ID", "Name", Model.Motion.MuscleID), new { @class = "form-control m-b" })
          </div>
        </div>
               
        <div id="partialDash" class="hr-line-dashed"></div>
        <div class="form-group">
          <label>名称</label>
          <input type="text" class="form-control" name="name" value="@Model.Motion.Name" required="" title="请输入名称">
        </div>
        <div class="form-group">
          <label>描述</label>
          <input type="text" class="form-control" value="@Model.Motion.Description" name="description">
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label>动作介绍</label>
          <textarea class="form-control" name="motionDetail">@Model.Motion.Detail</textarea>
          <br />
          <form id="formMotionDetail" enctype="multipart/form-data">
            <label title="Upload image file" for="btnUploadMotionDetail" class="btn btn-white">
              <input type="file" accept="image/*" name="imgMotionDetail" id="btnUploadMotionDetail" class="hide">
              添加动作介绍图片
            </label>
          </form>
          <div id="imgDiv1">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label>动作要点</label>
          <textarea class="form-control" name="motionMainPoint">@Model.Motion.MainPoint</textarea>
          <br />
          <form id="formMainPoint" method="post" action="/UploadTest/Upload/1" enctype="multipart/form-data">
            <label title="Upload image file" for="btnUploadMainPoint" class="btn btn-white">
              <input type="file" accept="image/*" name="imgMainPoint" id="btnUploadMainPoint" class="hide">
              添加动作要点图片
            </label>
          </form>
          <div id="imgDiv2">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label>注意事项</label>
          <textarea class="form-control" name="motionAttention">@Model.Motion.Attention</textarea>
          <br />
          <form id="formAttention" method="post" action="/UploadTest/Upload/1" enctype="multipart/form-data">
            <label title="Upload image file" for="btnUploadAttention" class="btn btn-white">
              <input type="file" accept="image/*" name="imgAttention" id="btnUploadAttention" class="hide">
              添加注意事项图片
            </label>
          </form>
          <div id="imgDiv3">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <div class="col-sm-1 pull-right">
            <button class="btn btn-primary" onclick="onSave()">保存</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

@section FooterScript{
  <script type="text/javascript" src="~/Scripts/template.js"></script>
  <script>
    var checkedMotionType;

    function muscleGroupChanged() {
      var muscleGroupId = $("[name='muscleGroup']").val();
      $.ajax({
        url: "/Motion/LoadMuscle",
        type: "post", dataType: "json",
        data: { id: muscleGroupId },
        success: loadMuscles,
        error: function () {
          alert('加载肌肉列表时出错');
        }
      });
    }

    function loadMuscles(res) {
      if (res.status == "ok") {
        $("[name='muscle']").empty();
        for (var i = 0; i < res.data.length; i++) {
          var item = res.data[i];
          $(" <option value='" + item.id + "'>" + item.name + "</option>")
            .appendTo("[name='muscle']");
        }
      }
    }

    function setVisibilityByMotionType(motionType) {
      if (motionType == 'partial') {
        $("#partialDiv").show();
        $("#partialDash").show();
      } else if (motionType == 'combine') {
        $("#partialDiv").hide();
        $("#partialDash").hide();
      }
    }

    function onSave() {
      var motionType = checkedMotionType;
      var muscleId = $("[name='muscle']").val();
      var motionName = $("[name='name']").val();
      var motionDescription = $("[name='description']").val();
      var motionDetail = $("[name='motionDetail']").val();
      var motionMainPoint = $("[name='motionMainPoint']").val();
      var motionAttention = $("[name='motionAttention']").val();

      if (motionName == null || motionName == undefined || motionName == '') {
        $("[name='name']").focus();
        return;
      }

      $.ajax({
        url: "/Motion/Edit",
        type: "post",
        data: {
          id:@Model.Motion.Id,
          motionType: motionType,
          muscleId: muscleId,
          name: motionName,
          description: motionDescription,
          detail: motionDetail,
          mainPoint: motionMainPoint,
          attention: motionAttention
        },
        success: function (res) {
          if (res.status == 'ok') {
            location.href = "/Motion/List"
          } else if (res.status == 'error') {
            alert(res.msg);
          }
        },
        error: function () {
          alert("保存失败！");
        }
      });
    }

    var options = {
      success: undefined,
      error: function () {
        alert('form error');
      },
      url: "/Motion/UploadImg",
      type: "post",
      data: {
        type: undefined,
        motionID: @Model.Motion.Id
      }
    };

    $("#formMotionDetail").submit(function () {
      options.data.type = 1;
      options.success = function (response) {
        execResponse(response, 1);
      },
        $(this).ajaxSubmit(options);
      return false;
    });
    $("#formMainPoint").submit(function () {
      options.data.type = 2;
      options.success = function (response) {
        execResponse(response, 2);
      },
        $(this).ajaxSubmit(options);
      return false;
    });
    $("#formAttention").submit(function () {
      options.data.type = 3;
      options.success = function (response) {
        execResponse(response, 3);
      },
        $(this).ajaxSubmit(options);
      return false;
    });

    function execResponse(res, type) {
      if (res.status == "ok") {
        loadImages(type);
      } else {
        alert(res.msg);
      }
    };

    function loadImages(type) {
      $.ajax({
        url: "/Motion/GetImgUrls",
        type: "post", dataType: "json",
        data: { type: type, motionID: @Model.Motion.Id },
        success: function (res) {
          var html = template("motionImg", { imgs: res.data });
          var id = "#imgDiv" + type;
          $(id).empty();
          $(id).append($(html));
        },
        error: function () {
          alert("加载数据失败");
        }
      });
    };

    function onDelete(id) {
      if (confirm("确定要删除吗？")) {
        $.ajax({
          url: "/Motion/DeleteImg",
          type: "post", dataType: "json",
          data: { id: id },
          success: function () {
            loadImages();
          },
          error: function () {
            alert("删除时，网络请求失败");
          }
        });
      }
    };

    function checkMotionType()
    {
      var type = $("[name='checkedMotionType']").val();
      $("#radio" + type).iCheck("check");
    }

    $(document).ready(function () {
      $('.i-checks').iCheck({
        checkboxClass: 'icheckbox_square-green',
        radioClass: 'iradio_square-green',
      });
      $("[name='motionType']").on("ifChecked", function (e) {
        var motionType = $(e.target).val();
        checkedMotionType = motionType
        setVisibilityByMotionType(motionType);
      });

      $("#btnUploadMotionDetail").change(function () {
        $("#formMotionDetail").submit();
      });
      $("#btnUploadMainPoint").change(function () {
        $("#formMainPoint").submit();
      });
      $("#btnUploadAttention").change(function () {
        $("#formAttention").submit();
      });

      checkMotionType();
      loadImages(1);
      loadImages(2);
      loadImages(3);
    });
  </script>
  <script id="motionImg" type="text/html">
    {{each imgs as img}}
    <div class="file-box">
      <div class="file">
        <a href="javascript:void(0);" onclick='onDelete({{img.id}});return false'>
          <div class="image">
            <img alt="image" class="img-responsive" src="{{img.url}}">
          </div>
          <div class="file-name">
            <span>点击图片以删除</span>
          </div>
        </a>
      </div>
    </div>
    {{/each}}
  </script>
}
