<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.5">
  <title>@ViewBag.Title</title>
  <link href="~/Content/bootstrap.min.css" rel="stylesheet">
  <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">

  <link href="~/Content/animate.css" rel="stylesheet">
  <link href="~/Content/style.css" rel="stylesheet">
  <!-- Toastr style -->
  <link href="~/Content/plugins/toastr/toastr.min.css" rel="stylesheet">
  <!-- Gritter -->
  <link href="~/Scripts/plugins/gritter/jquery.gritter.css" rel="stylesheet">
  <link href="~/Content/animate.css" rel="stylesheet">
  <link href="~/Content/style.css" rel="stylesheet">
  <!-- FooTable -->
  <link href="~/Content/plugins/footable/footable.core.css" rel="stylesheet">
  @RenderSection("HeaderScript", false)


  <link href="~/Content/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
  <link href="~/Content/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>

</head>
<body>
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element">
              <span>
                <img alt="image" class="img-circle" src="~/Images/logo_small.png" />
              </span>
              <a data-toggle="dropdown" class="dropdown-toggle" href="empty_page.html#">
                <span class="clear">
                  <span class="block m-t-xs">
                    <strong class="font-bold">@Html.Action("LoginEmail", "User")</strong>
                  </span>
                </span>
              </a>

            </div>
          </li>
          <li id="li1">
            <a href="/Home/Index"><i class="fa fa-home"></i> <span class="nav-label">首页</span></a>
          </li>
          <li id="li2">
            <a>
              <i class="fa fa-table"></i>
              <span class="nav-label">健身计划</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level ">
              <li>
                <a href="/Plan/Sechedule">健身日程</a>
              </li>
              <li>
                <a href="/Plan/CycleDays">我的计划</a>
              </li>
              <li>
                <a href="/Plan/SetCycleDays">定制计划</a>
              </li>
            </ul>
          </li>
          <li id="li3">
            <a>
              <i class="fa fa-area-chart"></i>
              <span class="nav-label">统计分析</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level ">
              <li>
                <a href="/BodyCircumference/Record">围度记录</a>
              </li>
              <li>
                <a href="/BodyCircumference/Chart">围度变化</a>
              </li>
              <li>
                <a href="/BodyCircumference/AnalyzePlan">计划分析</a>
              </li>
            </ul>
          </li>
          <li id="li4">
            <a href="/Home/Introduce"><i class="fa fa-copyright"></i> <span class="nav-label">关于</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <span class="m-r-sm text-muted welcome-message">Welcome to Fit.</span>
            </li>
            <li>
              <a href="login.html">
                <i class="fa fa-sign-out"></i> Log out
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!--Content-->
      @RenderBody()
      <!--Footer-->
      <footer>
        <div class="footer">
          <div class="pull-right">
            &copy; @DateTime.Now.Year - Fit，你的健身助手
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!-- Mainly scripts -->
  <script src="~/Scripts/jquery-2.1.1.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <script src="~/Scripts/jquery.form.js"></script>
  <script src="~/Scripts/plugins/metisMenu/jquery.metisMenu.js"></script>
  <script src="~/Scripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <!-- Custom and plugin javascript -->
  <script src="~/Scripts/inspinia.js"></script>
  <script src="~/Scripts/plugins/pace/pace.min.js"></script>
  <!-- FooTable -->
  <script src="~/Scripts/plugins/footable/footable.all.min.js"></script>
  <!-- iCheck -->
  <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
</body>
</html>
@RenderSection("FooterScript", false)